* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    background-color: black;
}

:root {
    --pri-ft: "Press Start 2P";
    --pri-clr: green;
    --square-size: 5rem;
}

/* ---------- INITIALIZE ---------- */
.initialize {
    height: 100%;
    position: relative;
}

.initialize-title {
    height: 100%;
    font-family: var(--pri-ft);
    font-size: 5rem;
    color: var(--pri-clr);
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: title-show;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

.start {
    position: fixed;
    top: 65%;
    left: 45%;
    font-family: var(--pri-ft);
    font-size: 2.5rem;
    width: 15rem;
    line-height: 5rem;
    text-align: center;
    animation-name: title-show;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

@keyframes title-show {
    from {color: black; opacity: 0;}
    to {color: var(--pri-clr); opacity: 100%}
}

.slider {
    position: absolute;
    width: 100%;
    top: 50%;
    border-top: 5px solid green;
    border-bottom: 5px solid green;
    animation-name: slide;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

@keyframes slide {
    0% {height: 0%; top: 50%;}
    55% {height: 100%; top: 0%;}
    100% {opacity: 0%;}
}

/* ---------- AFTER INITIALIZATION ---------- */
.title {
    font-family: var(--pri-ft);
    font-size: 2rem;
    color: var(--pri-clr);
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gameboard-con {
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
}

.player-con,
.computer-con {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

.player-title,
.computer-title {
    font-family: var(--pri-ft);
    font-size: 2rem;
    color: var(--pri-clr);
}

[class*="sq"] {
    width: var(--square-size);
    height: var(--square-size);
    font-family: var(--pri-ft);
    color: var(--pri-clr);
    border: 1px solid var(--pri-clr);
}

#player-gameboard,
#computer-gameboard,
.modal-gameboard {
    /* border: 3px solid green; */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ---------- MODAL ---------- */
dialog {
    position: fixed;
    left: 25%;
    top: 16.5%;
    padding: 2rem;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

dialog::backdrop {
    background-color: rgba(255, 255, 255, 0.25);
}

.modal-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
}

.ship-questionnaire {
    font-family: var(--pri-ft);
    font-size: 2rem;
    color: var(--pri-clr);
}

.button-con {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

button {
    cursor: pointer;
    line-height: 4rem;
    width: 10rem;
    font-family: var(--pri-ft);
    font-size: 1.5rem;
    color: var(--pri-clr);
    border: 2px solid var(--pri-clr);
    border-radius: 10px;
    background-color: black;
}

button:active {
    color: white;
    border-color: white;
}
